<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="page">
<head>
    <title>Weather Alarm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/theme.css}" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div sec:authorize="isAuthenticated()" class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                <li><a th:href="@{/user_info}">User Info</a></li>
            </ul>
            <ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav navbar-nav ">
                <li><a th:href="@{/admin}">Admin</a></li>
                <li><a th:href="@{/admin/users}">Users</a></li>
            </ul>

            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}" > Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div th:include="this :: content"></div>
</div>

<script type="text/javascript"
        src="/webjars/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>