<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
    <div th:fragment="content">

        <div class="col-xs-3">
            <div  class="page-header">
                <h2 class="text-center">Sign Up</h2>
            </div>

            <form th:action="@{/registration}" method="POST" th:object="${userForm}" class="form-sign">

                <ul>
                    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                        <span th:text="${e.message}">The error message</span>
                    </li>
                </ul>

                <div class="form-group">
                    <label class="control-label" for="username">User Name</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username" />
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger form-sign"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email" />
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger form-sign"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password" />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger form-sign"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="passwordConfirm">Password Confirm</label>
                    <input type="password" class="form-control" th:field="*{passwordConfirm}" id="passwordConfirm" placeholder="Confirm your password" />
                    <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert alert-danger form-sign"></div>
                </div>

                <input class="btn btn-success btn-block" type="submit" value="Sign Up"/>
            </form>
        </div>
    </div>
</body>

</html>