<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
    <div th:fragment="content">

        <div  class="page-header">
            <h3>User List</h3>
        </div>
        <ul  class="list-group col-lg-4">
            <li th:each="user : ${userList}" class="list-group-item">

                <div>
                    Username: <span th:text="${user.username}"></span>
                    <br>
                    Email: <span th:text="${user.email}"></span>
                </div>
                <br>
                <div th:if="${user.username != 'admin' && user.username != #request.userPrincipal.name}"
                     class="btn-group btn-group-justified">

                    <form th:if="${!user.roleNames.contains('ROLE_ADMIN')}"
                          th:action="@{/admin/users}" method="post" class="btn-group">
                        <input type="hidden" name="action" value="add_admin">
                        <input type="hidden" name="username" th:value="${user.username}">
                        <input class="btn btn-success" type="submit" value="Add to admins"/>
                    </form>
                    <form th:if="${user.roleNames.contains('ROLE_ADMIN')}"
                          th:action="@{/admin/users}" method="post" class="btn-group">
                        <input type="hidden" name="action" value="remove_admin">
                        <input type="hidden" name="username" th:value="${user.username}">
                        <input class="btn btn-primary" type="submit" value="Remove from admins"/>
                    </form>
                    <form th:if="${!user.roleNames.contains('ROLE_ADMIN')}"
                          th:action="@{/admin/users}" method="post" class="btn-group">
                        <input type="hidden" name="action" value="delete_user">
                        <input type="hidden" name="username" th:value="${user.username}">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>

                </div>
            </li>

        </ul>

    </div>
</body>

</html>