<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="layout :: page">
<body>
    <div th:fragment="content">

        <div sec:authorize="!isAuthenticated()">
            <div class="page-header">
                <h3>Welcome to the Weather Alarm Notification Service!</h3>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div class="page-header">
                <h3>Hello, <span th:text="${#request.userPrincipal.name}"></span>!</h3>
            </div>

            <h4>Here you can subscribe weather notifications</h4>

            <form th:if="${containsEmail != null && containsEmail}" th:action="@{/}" method="post">
                <input type="hidden" name="action" value="unsubscribe">
                <input type="submit" class="btn btn-primary btn-lg" value="Unsubscribe"/>
            </form>

            <form th:if="${containsEmail != null && !containsEmail}" th:action="@{/}" method="post">
                <input type="hidden" name="action" value="subscribe">
                <input type="submit" class="btn btn-primary btn-lg" value="Subscribe"/>
            </form>
        </div>

        <br>

        <div class="panel panel-info">
            <div class="panel-heading"><h4>Current measure</h4></div>
            <div class="panel-body" th:if="${currentMeasure != null}">
                Time: <span th:text="${currentMeasure.time}"></span> |
                Temperature: <span th:text="${currentMeasure.temperature}"></span> |
                Humidity: <span th:text="${currentMeasure.humidity}"></span> |
                Pressure: <span th:text="${currentMeasure.pressure}"></span> |
                Wind speed: <span th:text="${currentMeasure.windSpeed}"></span> |
                Latitude: <span th:text="${currentMeasure.latitude}"></span> |
                Longitude: <span th:text="${currentMeasure.longitude}"></span>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading"><h4>Forecast</h4></div>
            <div class="panel-body" th:if="${forecast != null}">
                Temperature: <span th:text="${forecast.temperature}"></span> |
                Humidity: <span th:text="${forecast.humidity}"></span> |
                Pressure: <span th:text="${forecast.pressure}"></span> |
                Wind speed: <span th:text="${forecast.windSpeed}"></span>
            </div>
        </div>

    </div>
</body>
</html>